.container {
  padding: 0 14px;
}
.Mint {
  display: flex;
  flex-direction: column;
  gap: 18px;
  .nftImg {
    width: 345px;
    height: 190px;
    border-radius: 10px;
    opacity: 1;
    background: #171719;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16),
      0px 3px 6px 0px rgba(0, 0, 0, 0.23);
    padding: 8px;
    box-sizing: border-box;

    margin-top: 17px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      opacity: 1;
      object-fit: cover;
    }
  }

  > ul {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 0 7px;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        &:nth-of-type(1) {
          /* 自动布局子元素 */
          opacity: 1;

          font-family: DM Sans;
          font-size: 14px;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 0em;

          font-variation-settings: "opsz" auto;
          font-feature-settings: "kern" on;
          color: #ffffff;

          z-index: 0;
        }

        &:nth-of-type(2) {
          /* 自动布局子元素 */
          opacity: 1;

          font-family: DM Sans;
          font-size: 16px;
          font-weight: bold;
          line-height: normal;
          letter-spacing: 0em;

          font-variation-settings: "opsz" auto;
          font-feature-settings: "kern" on;
          color: #ffffff;

          z-index: 1;
        }
      }
    }
  }

  .des {
    display: flex;
    flex-direction: column;
    gap: 6px;

    padding: 0 7px;
    span {
      &:nth-of-type(1) {
        /* 自动布局子元素 */
        opacity: 1;

        font-family: DM Sans;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0em;

        font-variation-settings: "opsz" auto;
        font-feature-settings: "kern" on;
        color: #ffffff;

        z-index: 0;
      }

      &:nth-of-type(2) {
        /* 自动布局子元素 */
        opacity: 1;

        font-family: DM Sans;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0em;

        font-variation-settings: "opsz" auto;
        font-feature-settings: "kern" on;
        color: #eaeaea;

        z-index: 1;
      }
    }
  }

  .btn {
    /* 自动布局子元素 */
    width: 331px;
    height: 40px;
    border-radius: 10px;
    opacity: 1;

    /* 自动布局 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 40px;
    gap: 10px;

    background: #fc872b;

    z-index: 3;

    box-sizing: border-box;

    margin: 0 auto;

    span {
      /* 自动布局子元素 */
      opacity: 1;

      font-family: DM Sans;
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
      text-align: center;
      letter-spacing: 0em;

      font-variation-settings: "opsz" auto;
      font-feature-settings: "kern" on;
      color: #ffffff;

      z-index: 0;
    }

    .icon {
      width: 16px;
      height: 16px;
    }

    &[disabled] {
      /* 自动布局子元素 */
      background: #666666;
    }
  }
}
