.recordsItem {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-bottom: 10px;
  border-bottom: 0.25px solid #333333;
  > li {
    display: flex;
    align-items: center;
    span {
      /* 自动布局子元素 */
      opacity: 1;

      font-family: DM Sans;
      font-size: 12px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0em;

      font-variation-settings: "opsz" auto;
      font-feature-settings: "kern" on;
      color: #ffffff;

      z-index: 0;
      &:nth-of-type(2) {
        margin-left: auto;
      }
    }
  }
}
